<h1>Listing potholes</h1>

<table>
  <tr>
    <th>Lat</th>
    <th>Lon</th>
    <th>Reported date</th>
    <th>Reported by</th>
    <th>Address</th>
    <th>Zip</th>
    <th>City</th>
    <th>Country</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @pothole.lat %></td>
    <td><%= @pothole.lon %></td>
    <td><%= @pothole.reported_date %></td>
    <td><%= @pothole.reported_by %></td>
    <td><%= @pothole.address %></td>
    <td><%= @pothole.zip %></td>
    <td><%= link_to @pothole.city.name, :controller => "potholes", :action => "index", :name => @pothole.city.name %></td>
    <td><%= @pothole.country.name %></td>
    <td><%= link_to 'Edit', edit_pothole_path(@pothole) %></td>
    <td><%= link_to 'Destroy', @pothole, :confirm => 'Are you sure?', :method => :delete %></td>
	<td><%= link_to 'Back', potholes_path %></td>
  </tr>
</table>

