<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    var pothole = <%= @pothole.to_json.html_safe %>.pothole;
  </script>
  <%= javascript_include_tag "show.js", "vizzuality.maps.js", "jquery.dimensions.js" %>
  <%= stylesheet_link_tag "potholes/show", "custom_infowindow" %>
<% end %>

<div class="outer_layout sub">
  <div class="subheader show">
    <div class="subheader_left">
      <h1 class="show">Se ha denunciado un bache en</h1>
      <h3 class="show"><%= @pothole.addressline.delete("|") %> <strong>(<%= @pothole.zip %>, <%= @pothole.city.name %>)</strong></h3>
    </div>
    <div class="subheader_right"></div>
  </div>
</div>

<div class="outer_layout map">
  <div class="main_map">
    <div class="main_map_left">
      <div class="border_map">
        <div id="main_map"></div>
        <div id="mamufas_main">
          <%= image_tag("ajax-loader.gif") %>
        </div>
      </div>
      <%= image_tag("map_shadow.png", :class => "shadow") %>

      <p class="confirm_tooltip">Gracias,<br/><strong>El bache se ha confirmado correctamente!</strong></p>
      <div class="information">
        <p class="place"></p>
        <p class="reported">
          <%= @counter %>
          <% if (@counter > 1) %>
            veces
          <% else %>
            vez
          <% end %>
          reportado. Última vez <strong>hace
                <%= distance_of_time_in_words(@pothole.reported_date, Time.now) %></strong></p>
      </div>
    </div>
    <div class="main_map_right">
      <div class="right_data">
        <div class="social_media">
          <span>Quéjate en...</span>
          <div>
            <a href="#">facebook</a>
            <a href="http://twitter.com/otrobache">twitter</a>
          </div>
        </div>
        <p class="first">Lleva</p>
        <p class="days"><%= distance_of_time_in_words(@pothole.reported_date, Time.now) %></p>
        <p class="first">sin ser arreglado</p>
        <p class="first gray">(que nosotros sepamos)</p>
      </div>
      <a href="#" id="confirm_pothole" class="confirm_pothole"></a>
    </div>
  </div>
</div>

<div id="pothole_info" class="pothole_info show">
  <div class="corner"></div>
  <img src="<%= @pothole.thumb_url %>" alt="potholes image"/>
</div>

