<div class="outer_layout head_cities">
  <div class="subheader">
	  <div class="subheader_main">
		  <h1>Todos los municipios</h1>
	  </div>
  </div>
</div>

<div class="outer_layout cities">
	<div class="text">
		<%@result.each do |country|%>
		  <% if country == @result.last%>
		    <ul class="last">
		  <% else %>
		    <ul>
		  <% end %>
			  <li><h4><%=country[:name].capitalize%> <strong>(<%=country[:num_baches]%>)</strong></h4>
			    <ul> <%count=1%>
			      <%country[:cities].each do |city|%>
			        <% if count == 4%>
			          <li class="last"><a href="/in/<%=city[:name]%>"><%=city[:name]%></a> (<%=city[:num_baches]%>)</li>
			          <%count=1%>
			        <%else%>
					      <li><a href="/in/<%=city[:name]%>"><%=city[:name]%></a> (<%=city[:num_baches]%>)</li>
					      <%count=count+1%>
					    <%end%>
				    <%end%>
				  </ul>
				</li>
			</ul>
		<%end%>
	</div>
</div>

